img{
  width: 500px; padding-bottom :80px; margin-bottom:60px; display:block
}
h1,h2,h3{
  color:blue;
}
p{
  font-size:25px; margin-left:70px; margin-right:70px;
}
li{
  font-size:25px; padding-left:40px; padding-right:40px;
}

