img{
  width: 500px; padding-bottom :65px; margin-bottom:60px; display:block
}
h1,h2,h3,h4{
  color:blue; font-size:70px;
}
p{
  font-size:25px; margin-left:70px; margin-right:70px;
}
li{
  font-size:25px; padding-left:40px; padding-right:40px;
}

